body
{
  text-align: center;
  font-family: helvetica;
  color: gray;
}

.Heading
{
  background-image: url(./images/the-flatiron-building.png);
}
}

h1
{
  font-size: 70px;
  font-weight: bold;
  color: white;
}

h2
{
  font-size: 18px;
  color: white;
}

h4
{
  font-size: 32px;
  font-weight: bold;

}
